/* Fuente personalizada guardada localmente. */
@font-face {
    font-family: "Helvetica";
    src: url("font/Helvetica.ttf");
}

/* Propiedades generales. */
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
}

body {
    background-color: black;
    color: black;
}

/* CSS Menu principal. */
.navbar {
    background-color: #D8F3DC;
    color: #081C15;
    padding: 15px 35px 15px 35px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.banner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.navbar > .menus > ul {
    display: flex;
}

.navbar > .logo {
    display: flex;
    justify-content: center;
}

.menus {
    align-self: center;
}

.contact {
    align-self: center;
    display: flex;
    justify-content: right;
}

.menus > ul > li {
    margin: 0px 20px 0px 0px;
    text-align: center;
    list-style: none;
}

.menus > ul > li > a {
    text-decoration: none;
    font-size: 12px;
    color: #081C15;
}

.menus > ul > li > a:hover {
    font-weight: bold;
}

.contact > a {
    text-decoration: none;
    font-size: 12px;
    color: #081C15;
}

.contact > a:hover {
    font-weight: bold;
}

/* CSS del menu con los mensajes moviendose. */
.ticker-container {
    width: 100%;
    overflow: hidden;
    background-color: #081C15;
    color: yellow;
    padding: 0.5rem 0rem;
}

.ticker-wrapper {
    width: 100%;
    padding-left: 100%;
    background-color: transparent;
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }
    
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-transition {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 60s;
}

.ticker-transition:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.ticker-item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 14px;
}

/* Establecer el video como fondo. */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 50%;
}

/* Editar colores del archivo SVG

(Logo SIDNEYSILVA) */
.logosvg {
    fill: #081C15;
}

.blogosvg {
    fill: none;
}

/* CSS del Menu responsive.
(aparece al disminuir tamaño ventana) */

.menu-responsive {
    display: none;
    background-color: #D8F3DC;
    color: #081C15;
    border-top: 1px solid #081C15;
}

.menu-responsive > ul > li > a {
    color: #081C15;
    text-decoration: none;
}

.menu-responsive > ul > li > a:hover {
    color: #081C15;
    font-weight: bolder;
    text-decoration: none;
}

.menu-responsive > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 12px;
    padding: 8px 16px 8px 16px;
}

.textoGrande {
    color: yellow;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: center;
    height: calc(90vh - 88px);
}

.textoGrande > h1 {
    display: flex;
    align-self: center;
    font-size: 3em;
}

.textoGrande > p {
    font-size: 16px;
}
/*  Cuando la pantalla sea = o < que 920px, hacer lo siguiente... */

@media (max-width: 920px) {

    .textoGrande > h1 {
        font-size: 2em;
    }
    
    .textoGrande > p {
        font-size: 13px;
    }

    .menu-responsive {
        display: block;
    }

    .navbar {
        display: flex;
    }

    .menus, .contact {
        display: none;
    }

    .logo {
        width: 100%;
    }
}


