* {
    font-family: "Samsung Sans";
    font-size: 22px;
}

@font-face {
    font-family: "Samsung Sans";
    src: url(./SamsungSans-Regular.ttf);
}

smartphones {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem;
    gap: 1rem;
    background-image: url(./s23wallpaper.jpg);
    background-size: auto;
}

smartphone {
    padding: 24px;
    background-color: #303934;
    color: white;
    border-radius: 5px;
    border: 2px solid #1d201f;
    display: flex;
    flex-direction: column;
    background-color: #45534c;
    margin-bottom: 1rem;
    width: auto;
    align-self: center;
}

precio {
    color: rgb(5, 255, 5);
}

nombre {
    font-weight: bold;
    font-size: 28px;
    width: 100%;
}

smartphone:last-child > nombre::after {
    content: "En oferta!";
    background-color: red;
    margin-left: 10px;
    padding: 4px;
}
 smartphone:last-child > precio {
    text-decoration: line-through;
}

smartphone:last-child {
    content: "10€";
    background-color: rgb(5, 255, 5);
    margin-left: 10px;
    padding: 4px;
    color: black;
    text-decoration: none;
}    

