/* Fuente de la página (fuente local) */
@font-face {
    font-family: "Helvetica";
    src: url("../resources/font/Helvetica.ttf");
}

/* Propiedades generales de la página. */
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
}

/* Propiedades del html / body. */
html, body {
    background-color: #e6f4e8;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

/* Menu del grid. */
.gridContacto {
    width: auto;
    background-color: #e6f4e8;
    padding: 1rem 1.5rem;
}

/* Color del logo grande de arriba */
.contactosvg {
    fill: #081C15;
}

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
}

.heading > svg {
    height: auto;
    width: auto;
    margin: 3em 2em;
}

/* Formato del formulario personalizado. */
.formulario {
    background-color: #e6f4e8;
    color: white;
    display: grid;
    margin: 0 5em;
    grid-template-columns: 50% 50%;
    grid-template-rows: 4rem 4rem 4rem;
    gap: 1em;
    grid-template-areas:
    "input1 textarea"
    "input2 textarea"
    "input3 textarea"
    "button button";
}

#name {
    grid-area: input1;
}

#surnames {
    grid-area: input2;
}

#email {
    grid-area: input3;
}

#message {
    grid-area: textarea;
}

.button {
    grid-area: button;
    display: flex;
    text-align: center;
    justify-content: center;
}

.formulario > .input, textarea {
    padding: 1rem;
    font-size: 16px;
    color: #e6f4e8;
    background-color: #2D6A4F;
    border: none;
    resize: none;
}

.formulario > .input:focus, textarea:focus {
    background-color: #143a2d;
}

.submit {
    font-size: 16px;
    width: 6rem;
    padding: 1rem;
    background-color: #52B788;
    color: white;
    border: none;
    transition: .5s ease;
    cursor: pointer;
}

.submit:hover {
    background-color: #081C15;
    color: yellow;
}

.news {
    background-color: #081C15;
    color: white;
    padding: 9px;
    height: 22px;
    display: flex;
    justify-content: center;
}

.news > p {
    align-self: center;
    font-size: 12px;
    color: white;
}

.navbar {
    background-color: #D8F3DC;
    color: #081C15;
    padding: 15px 35px 15px 35px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}


.navbar > .menus > ul {
    display: flex;
}

.navbar > .logo {
    display: flex;
    justify-content: center;
}

.menus {
    align-self: center;
}

.contact {
    align-self: center;
    display: flex;
    justify-content: right;
}

.menus > ul > li {
    margin: 0px 20px 0px 0px;
    text-align: center;
    list-style: none;
}

.menus > ul > li > a {
    text-decoration: none;
    font-size: 12px;
    color: #081C15;
}

.menus > ul > li > a:hover {
    font-weight: bold;
}

.contact > a {
    text-decoration: none;
    font-size: 12px;
    color: #081C15;
}

.contact > a:hover {
    font-weight: bold;
}

.logosvg {
    fill: #081C15;
}

.blogosvg {
    fill: none;
}

.menu-responsive {
    display: none;
    background-color: #081C15;
}

.menu-responsive > ul > li > a {
    color: #081C15;
    text-decoration: none;
}

.menu-responsive > ul > li > a:hover {
    color: #081C15;
    font-weight: bolder;
    text-decoration: none;
}

.menu-responsive > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 12px;
    padding: 8px 16px 8px 16px;
    background-color: #D8F3DC;
    border-top: 1px solid #081C15;
    border-bottom: 1px solid #081C15;
}

.main {
    padding: 3em 5em;
    padding-bottom: 5em;
}

.main h1 {
    font-size: 18px;
    font-weight: bolder;
}

.meImg {
    height: 100%;
    width: 100%;
}

.hp {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0 2em;
    align-self: center;
}

.paragrafo, .littleheader {
    line-height: 22px;
    font-size: 14px;
}

.littleheader > p {
    font-weight: bold;
    margin-right: 1em;
}

.paragrafo > .tpc {
    margin: 5em 0em;
    font-weight: bold;
    color: #081C15;
}

.gridImage {
    padding-top: 3em;
    display: grid;
    grid-template-columns: 40% 60%;
}

.gridImage2 {
    display: grid;
    grid-template-columns: 60% 40%;
}

.texto {
    display: grid;
    grid-template-rows: 15% 85%;
    margin: 2em 0;
}

.texto > .videoImagen {
    display: grid;
    grid-template-columns: 20% 80%;
    line-height: 22px;
    font-size: 14px;
}

.videoImagen > p {
    margin-right:1em;
    color: #081C15;
}

.videoImagen > p:first-child {
    font-weight: bold;
}

.otraImagen {
    padding: 0em 3em 3em 0em;
}

.otraImagen > img {
    height: 100%;
    width: 100%;
}

.videoHero {
    display: grid;
    grid-template-rows: 60% 40%;
    gap: 1em;
}

.videoHero > video {
    width: 100%;
}

.txt {
    display: grid;
    grid-template-columns: 15% 85%;
}

.txt > p {
    font-size: 14px;
    color: #081C15;
}

.txt > p:first-child {
    font-weight: bold;
}



@media (max-width: 920px) {
    
    .main {
        padding: 3em 2em;
    }

    .gridImage {
        grid-template-columns: none;
        grid-template-rows: 70% 30%;
        gap: 2em;
    }

    .hp {
        grid-template-columns: none;
        grid-template-rows: 20% 80%;
        margin: 0;
    }

    .littleheader {
        padding: 1em 2em 2em 2em;
        display: flex;
        justify-content: center;
    }

    .paragrafo > .tpc {
        margin: 3em 0em;
        display: flex;
        justify-content: center;
    }

    .gridImage2 {
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
        gap: 4em;
    }

    .videoHero {
        grid-template-columns: none;
        grid-template-rows: 60% 40%;
        gap: 2em;
    }

    .videoHero > video {
        height: 100%;
        width: 100%;
    }

    .txt {
        grid-template-columns: none;
        grid-template-rows: 20% 80%;
    }

    .txt > p:first-child {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .txt > p:last-child {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .texto {
        grid-template-columns: none;
        grid-template-rows: 80% 20%;
        
    }

    .texto > .videoImagen {
        grid-template-columns: none;
        grid-template-rows: 60% 40%;
        order: 1;
    }

    .texto > .otraImagen {
        order: -1;
    }

    .otraImagen {
        padding: 0;
    }

    .videoImagen > p:first-child {
        display: flex;
        justify-content: center;
        padding: 1em 2em;
        align-self: center;
    }
    
    
    .menu-responsive {
        display: block;
    }

    .navbar {
        display: flex;
    }

    .menus, .contact {
        display: none;
    }

    .logo {
        width: 100%;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .formulario > .input, textarea {
        padding: none;        
    }

}

footer {
    background-color: #081C15;
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
}

.copy {
    align-self: center;
}

.copy > p {
    color: white;
    font-size: 14px;
}

.head {
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.lFooter {
    fill: #D8F3DC;
}

.logoFooter > svg {
    align-self: center;
}

.ticker-container {
    width: 100%;
    overflow: hidden;
    background-color: #081C15;
    color: yellow;
    padding: 0.5rem 0rem;
}

.ticker-wrapper {
    width: 100%;
    padding-left: 100%;
    background-color: transparent;
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }
    
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-transition {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 60s;
}

.ticker-transition:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.ticker-item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 14px;
}

/* Pagina proyectos. */

.principal {
    margin: 0em 2em;
}

.proyectos {
    display: flex;
    flex-direction: column;
}

.p {
    padding: 1rem;
    position: relaive;
    background-color: #081C15;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    transition: .5s;
}

.p > a > img {
    height: 100%;
    width: 100%;
    transition: .5s;
}

.p a img:hover {
    filter: grayscale(0%);
    opacity: 75%;
}

.p > a {
    height: 100%;
}


.p:hover {
    background-color: #2D6A4F;
}

.p:hover .efecto {
    opacity: 100%;
}

.efecto {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #2D6A4F;
    padding: 1em;
    color: yellow;
    flex-direction: column;
    position: absolute;
    align-self: center;
    transition: .5s;
    opacity: 0%;
    z-index: 1;
}

.efecto > h1 i {
    font-size: 2rem;
}